name: Publish Python Package

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+' # Matches version tags like 1.0.0, 2.1.0, etc.

jobs:
  test: # NOTE: keep test in sync with test.yml
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.11', '3.10', '3.9']
      max-parallel: 1

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Run tests
        uses: ./.github/actions/test-action
        with:
          python-versions: ${{ matrix.python-version }}
          # pass secrets b/c action can't access them
          host: ${{ secrets.HOST }}
          api-key: ${{ secrets.API_KEY }}
          auth-handle: ${{ secrets.AUTH_HANDLE }}
          simplesat-a-t-id: ${{ secrets.SIMPLESAT_A_T_ID }}
          simplesat-scenario-id: ${{ secrets.SIMPLESAT_SCENARIO_ID }}
          wildfire-a-t-id: ${{ secrets.WILDFIRE_A_T_ID }}
          wildfire-scenario-id: ${{ secrets.WILDFIRE_SCENARIO_ID }}
          superdove-scenario-id: ${{ secrets.SUPERDOVE_SCENARIO_ID }}

  publish:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11

      - name: Replace version in pyproject.toml
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          sed -i "s/version = \"0.0.0\"/version = \"$TAG\"/g" sedaro/pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools build twine

      - name: Build the package
        run: |
          python -m build sedaro

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python -m twine upload sedaro/dist/*
